body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #292929;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(17, 34px);
  /* Ajusté pour les en-têtes */
  grid-template-rows: repeat(17, 34px);
  /* Ajusté pour les en-têtes */
  gap: 0;
  margin: 70px;
  position: relative;
}

.grid-cell {
  width: 34px;
  height: 34px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.grid-cell.highlight {
  background-color: rgba(255, 255, 255, 0.20);
}

.header {
  background-color: #444;
  color: white;
  font-weight: bold;
  text-align: center;
}

.button-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

button {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 3px;
}