:root {
  --main-bg-color: #212121;
  --main-bg-grid-color: #222;
}

body {
  margin: 0;
  font-family: Arial, sans-serif, monospace;
  background-color: #292929;
  color: white;
  font-size: small;
}

.menubar {
  background-color: black;
  height: 81px;
  width: 100%;
  border-bottom: 1px solid darkblue;
}

/********************************************************************************************************************************************
                                                                 Matrix
                                                            Grid Container
********************************************************************************************************************************************/
#mixerMatrixContent {
  --main-bg-color: #212121;
  --main-bg-grid-color: #444;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.crossWidth{
  width:25px;
}

.crossHeight{
  height:25px;
}


/***** Columns *****/
.columnsContainer  {
  display: flex;
  width: auto;
  border-collapse: collapse;
}

.emptyContainer{
  min-width: 318px;
  border-top-left-radius: 5px;
}

[class*="colCardName"] {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-top: 5px solid darkgreen;
  border-bottom: 6px solid rgba(255, 255, 255, 0.13);
  border-right: 2px solid rgba(255, 255, 255, 0.13);
  background-color: #444;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.colCardTitle{
  padding: 5px 0 12px 5px;
}

.divForAllColChannelsGroups{
  display: flex;
  flex-direction: row;
}

.colChannelGroups{
  display:flex;
  flex-direction: column;
  border-collapse: collapse;
  text-align: left;
  position: relative;

}

.colChannelGroupsTitle{
  gap: 10px;
  display: flex;
  place-items: center;
  justify-content: end;
  transform: rotate(-90deg);
  width: 88px;
  position:absolute;
  left: -32px;
  top: 50px
}

.divForAllColChannelsNames{
  display: flex;
  border-collapse: collapse;
  flex-direction: row;
  margin-top: 110px;
}

.colChannelName{
  display: flex;
  flex-flow: column-reverse;
  position: relative;
  height: 117px;
  border-right: 1px solid rgba(255, 255, 255, 0.13);
}

.colChannelNameTitle{
  position: absolute;
  transform: rotate(-90deg) ;
  transform-origin: top left;
  top: 70%;
  width: 70px;
}

.colVuMeterMatrixMixerCanvas {
  width: 10px;
  height: 22px;
  border-radius: 4px ;
  align-self: center;
  margin-bottom: 8px;
  background-color : #103010;
}

/***** Rows  *****/
.rowsContainer{
  display:flex;
  border-collapse: collapse;
  border-left: 5px solid darkgreen;
  width: 100%;
  border-radius: 5px;
}

[class*="rowCardName"] {
  display: flex;
  position: relative;
  background-color: #444;
}

.rowCardTitle {
  width: 120px;
  padding: 5px 0 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.divForAllRowChannelsGroups{
  display: flex;
  flex-direction: column;
}

.rowChannelGroups{
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
  text-align: left;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.rowChannelGroupsTitle{
  width: 96px;
  display:flex;
  align-items: baseline;
}

.divForAllRowChannelsNames{
  display: flex;
  flex-direction: column;
}

.rowChannelName{
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.rowChannelNameTitle {
  flex-grow: 1;
  align-content: center;
  text-align: center;
  width: 70px;
}

.rowVuMeterMatrixMixerCanvas {
  width: 10px;
  height: 22px;
  border-radius: 4px ;
  margin: 1px 8px 1px 0;
  background-color: #103010;
}


.emptyAliasContainer{
  width : 88px;
}

/***** Cells  *****/

.cell{
  display: flex;
  border-right: 1px solid rgba(255, 255, 255, 0.13);
  background-color: #555;
  justify-content: center;
  align-items: center;
  font-size:10px;
}

.cell .filled:hover{
  font-size:14px;
  z-index: 1000;
}

.minus-btn, .plus-btn {
  display: flex;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin-left: auto;
  place-content: center;
  align-items: center;
  cursor: pointer;
}

/* inputBox */
.inputBox {
  position: absolute;
  font-size: 11px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  z-index: 1000;
  cursor: text;
}

/*Grid Infos*/
.mixerGridInfos{
  color: #FFFFB4bb;
  background-color: rgba(0, 0, 0, 0.75);
  transform-origin:top left;
  display: inline-block;
  text-align: center;
  width: 100%;
  transform: rotate(-90deg);
  padding: 0 3px;
  margin: -20px 5px 0 -6px;
  border-radius: 2px;
}

.outputGridInfos{
  color: #FFFFB4bb;
  position: absolute;
  left: -78px;
  top:  -8px;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 3px;
  border-radius: 2px;
}

.toggleButton{
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1000;
}


/******* Specific *******/
.hovered {
  border: 1px solid darkgray;
}

.active {
  background-color: #3a3;
}

.disabled {
  background-color: #555;
}

.hidden{
  display: none;
}

.highlight {
  background-color: rgba(255, 255, 255, 0.20);
}
